.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items{
  display: flex;
  justify-content: space-between;
}

.itemList{
  width: 180px;
}

input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

input:focus{
  outline: none;
}

.backBtn{
  background-color: white;
  border: none;
  color: red;
  font-weight: bold;
}

.addbtn{
  background-color: #1283a8;
  border-radius: 3px;
}

.editbtn{
  background-color: rgb(4, 145, 4);
  border-radius: 3px;
  border: none;
}

.deletebtn{
  background-color: rgb(216, 19, 19);
  border-radius: 3px;
  border: none;
}
